<!DOCTYPE html>
<html>

<!-- Website made by Nicolas Capron && Pol Soyez -->

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Enregistrer un utilisateur{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
            <!-- Appel CSS Boostrap -->
            <!-- Font Google -->
        {% endblock %}
    </head>

    <body>
        <div class="flashmsg_newsletter">
            {% if app.session.flashBag.has('error') %}
                <div class="alert alert-error">
                    {% for msg in app.session.flashBag.get('error') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('success_reactivate') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success_reactivate') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>
