{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<a href='{{ path('github_homepage')}}'>Votre compte a bien été créé, cliquer ici pour vous connecter</a>
{% endblock fos_user_content %}
